
/*стили вывода имени элемента в таблице на главной странице калькулятора*/
.boxoutput-name {
    cursor:pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow:0px 0px 3px 0px #999 inset;
	background:none;
	margin: 0px;
    height: 25px;
}
.boxoutput-name:active{
    box-shadow:1px 1px 1px 1px #999 inset, -1px -1px 1px 1px #fff inset;
    -webkit-box-shadow:1px 1px 1px 1px #999 inset, -1px -1px 1px 1px #fff inset;
    -moz-box-shadow:1px 1px 1px 1px #999 inset, -1px -1px 1px 1px #fff inset;
}
.boxoutput-name:after{
	content:'\25be';
	float:right;
	padding-right:5px;
}
.boxoutput-name:hover{
	color:#ea84ff;
	content:'\25be';
}
/*КОНЕЦ стили вывода имени элемента в таблице*/

/*==============================стили всплывающего окна===============================*/

.bg-ccc {
    background-color: #ccc;
}

/*==============стили шапки модульного окна*/
.mod-header{
    overflow: hidden;
    margin: 5px;
    padding: 0px;
    background-color: #f3f4f8;
    border-radius: 5px;
    border: 2px solid #aaa;
}

.header-box-title{
    width:100%;
    text-align: center;
    padding: 10px;
}

.header-box-body_output {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 10px 15px 10px;
        border-top: 1px solid #dee2e6;
}
.headeroutput-name, .headeroutput-scores{
    margin-top:1px ;
}

.header-box-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 10px 15px 10px;
    border-top: 1px solid #dee2e6;
}
.header-box-body input {
    margin-top: 10px;
}
.header-box-body input:not(:first-child) {
    margin-left: 10px;
}

#ElementModal .mod-header .header-box {
    position: absolute;
    top:-10000px;
}

#ElementModal .mod-header .header-box.active {
    position: static;
}

/* Анимация выпадения кнопок выбора элемента */

#ElementModal .header-box-body {
    overflow: hidden;
}

#ElementModal .header-box .JS_ButtonModal{
    position: relative;
    top: -50px;
    transition-duration: 0.5s;
}

#ElementModal .header-box.active .JS_ButtonModal:nth-child(1) {transition-delay:0}
#ElementModal .header-box.active .JS_ButtonModal:nth-child(2) {transition-delay:0.1s}
#ElementModal .header-box.active .JS_ButtonModal:nth-child(3) {transition-delay:0.2s}
#ElementModal .header-box.active .JS_ButtonModal:nth-child(4) {transition-delay:0.3s}
#ElementModal .header-box.active .JS_ButtonModal:nth-child(5) {transition-delay:0.4s}
#ElementModal .header-box.active .JS_ButtonModal:nth-child(6) {transition-delay:0.5s}
#ElementModal .header-box.active .JS_ButtonModal:nth-child(7) {transition-delay:0.6s}
#ElementModal .header-box.active .JS_ButtonModal:nth-child(8) {transition-delay:0.7s}
#ElementModal .header-box.active .JS_ButtonModal:nth-child(9) {transition-delay:0.8s}

#ElementModal .header-box.active .JS_ButtonModal {
    transform: translateY(50px);
}
/*КОНЕЦ Анимация выпадения кнопок выбора элемента */

/* Анимация выделения в секции элемента */
#ElementModal .JS_Section-Table .JS_Section-El{
    display: none;
}
#ElementModal .JS_Section-Table .JS_Section-El.active{
    display: table-row;
    border-radius: 5px;
}
.splash {
animation: splash 2s;
}
@keyframes splash {
    0%{
        box-shadow: 0 0 0px 0px #ea84ff inset;
        opacity: 0;
    }
    50%{
        opacity: 1;
        box-shadow: 0 0 5px 5px #ea84ff inset;
    }
    100%{
        box-shadow: 0 0 0px 0px #ea84ff inset;
    }
}
/* КОНЕЦ Анимация выделения в секции элемента */
/*КОНЕЦ стили шапки модульного окна*/
/*======================стили основной части модульного окна*/
.mod-body {padding: 0;}
.modal .wrap-tables {
    margin: 10px 5px 0 5px;
    padding-bottom: 10px;
    background-color: #f3f4f8;
    border-radius: 5px;
}
#ElementModal .tabCalc-content{
    display: none;
}
#ElementModal .tabCalc-content.active{
    display: block;
}

#GoeModal .mod-header{
    margin-bottom: 20px;
}
/*КОНЕЦ стили основной части модульного окна*/
/*=========================стили подвала модульного окна*/

.modal-footer {
    height: 50px;
    padding: 5px;
}
/*КОНЕЦ стили подвала модульного окна*/
/*f3f4f8   dee2e6*/
/*==========================стили заклдок в модальном окне==============*/
.tabCalc-links {
    display: flex;
    font-size: 0;
    padding-top: 0px;
    margin:0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.tabCalc-links::-webkit-scrollbar {
    width: 0;
}

.tabCalc-links button {
    font-size: 18px;
    font-weight:500;
    margin: 0;
    background-color: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
	transition-duration: 0.3s;
    transition-property: background-color;
}

@media (max-width:575px) {
    .tabCalc-links button{
        font-weight:500;
        padding: 5px 6px;
    }
}
.tabCalc-links button.active{
    background-color:#f3f4f8;
    border: 1px solid #f3f4f8;
    border-radius: 0px 0px 5px 5px;
}

.coolTabLeft {
    box-shadow: 1px -5px 0px 1px #f3f4f8;
    border-radius: 0px 5px 0px 0px !important;
}
.coolTabRight {
    box-shadow: -1px -5px 0px 1px #f3f4f8;
    border-radius: 5px 0px 0px 0px !important;
}

/*КОНЕЦ стили заклдок в модальном окне*/


/*==============================стили кнопок*/
@media (min-width:576px) {
    .buttonGalka{width: 45px;}
}
.buttonReset:hover {
    background-color: #FF819C;
}

.buttonSave:hover {
    background-color: #A790FF;
}
.buttonFlat{
    min-width: 10px;
    max-width: 300px;
	text-decoration: none !important;
	outline: none !important;
	border-radius: 5px;
    border: 1px solid #ccc;
    transition-duration: 0.7s;
}
.buttonFlat:active{
    box-shadow:1px 1px 1px 1px #000 inset, -1px -1px 1px 1px #fff inset;
}

@media (max-width:575px){
    .JS_RemoveJump, .JS_AddJump{width: 100%;}
}

/*КОНЕЦ стили кнопок*/

/* убрал серую полоску над секцией выбора элемента */
#ElementModal .JS_Section-Table tr:first-child td {
	border-top: 0px solid #dee2e6;
	padding: .75rem;
	vertical-align: top;
}

/*стили всплывающего окна*/
